language: rust
rust:
    - stable
    - beta
    - nightly

matrix:
    allow_failures:
        - rust: nightly
    fast_finish: true

cache: cargo

before_install:
  - sudo apt-get install -y libmnl-dev 
