# /etc/systemd/system/notrust-track.service

[Unit]
Description=Monitor all network connections by user and processes
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/notrust
ExecStart=/usr/sbin/notrust-track
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target

# For this to work we need to have the CAP_NET_ADMIN and CAP_DAC_READ_SEARCH, CAP_SYS_PTRACE
# We can use:
# > sudo setcap 'cap_sys_ptrace,cap_net_admin,cap_dac_read_search=+ep' ./main`
