# /etc/systemd/system/notrust-track.service

[Unit]
Description=Monitor all network connections by user and processes
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/notrust
ExecStart=/usr/sbin/notrust-track
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=notrust
Group=notrust

# We require ip_conntrack module to be loaded.
[Install]
WantedBy=multi-user.target
