# /etc/systemd/system/zerotrust-track.service

[Unit]
Description=Monitor all network connections by user and processes
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/zerotrust
ExecStart=/usr/sbin/zerotrust-track
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=zerotrust
Group=zerotrust

# We require ip_conntrack module to be loaded.
[Install]
WantedBy=multi-user.target
